# Visual Studio Specific
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.opendb
*.VC.db
*.VC.VC.opendb

# Build Directories
Debug/
Release/
x64/Debug/
x64/Release/

# CMake Build Files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs and Temp Files
*.log
*.obj
*.pch
*.idb
*.ipdb
*.pdb
*.tlog
*.lastbuildstate

# GLEW and GLFW Binaries
bin/
*.dll
*.lib

# Intermediate Files
*.ilk
*.exp

# Output Files
*.exe
*.out

# System Files
Thumbs.db
.DS_Store

# IDE Backup Files
*.bak
*.old

# Temporary Files
*.tmp
*.temp
~$*
